@mixin star-padding($padding:0 0 0 0 ){
  padding: $padding;
}

@mixin star-size($width:0px,$height:0px){
  width: $width;
  height: $height;
}

@mixin star-text($text-align:center){
  text-align: $text-align;
}

@mixin star-border-radius($border-radius:5px){
  border-radius: $border-radius;
}
@mixin star-border-radius-boton($border: 2px solid, $orientacion:left){
  border: $border;
  border-top-#{$orientacion}-radius: 6px;
  border-bottom-#{$orientacion}-radius: 6px;
  border:0;
}
@mixin star-font-family($font-family: arial , $font-size:12px, $font-weight:bold){
   font-family: $font-family;
   font-size: $font-size;
   font-weight: $font-weight;
}
@mixin star-margin($margin:0 0 0 0){
   margin: $margin;
}


