@mixin star-padding($padding:0 0 0 0 ){
  padding: $padding;
}

@mixin star-height($height:0px){
  height: $height;
}

@mixin star-text($text-align:center){
  text-align: $text-align;
}

@mixin star-border-radius($border-radius:5px){
  border-radius: $border-radius;
}

@mixin star-font-family($font-family: arial , $font-size:12px, $font-weight:bold){
   font-family: $font-family;
   font-size: $font-size;
   font-weight: $font-weight;
}

@mixin star-margin($margin:0 0 0 0){
   margin: $margin;
}