$color-nav:#080108;
$color-input:#EEEEEE;
$color-footer:#E3E3E3;
$color-nav-rojo:#BA1414;
$color-nav-plomo:#E4E7EA;
$color-boton:#080808;
$color-fb:#2A65A3;
$color-twitter:#4BB7D9;
$color-correo:#FCC82C;
$color-btn-suscribete:#DD4A4A;
$color-guinda:#941010;
$color-editorial:#2D3238;
$color-wifi:#FD932C;
$color-letras-header:#C1BFB3;
$color-separador:#778696;
