@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
.form h1 {
  font-family: arial;
  font-size: 50px;
  font-weight: lighter;
  text-align: center; }
.form p {
  padding: 20px 0;
  text-align: left;
  font-family: PT Sans;
  font-size: 17px;
  font-weight: normal; }
.form .container-especial {
  padding: 0 25%;
  margin: 0 auto; }
  .form .container-especial form div input, .form .container-especial form div input:focus {
    background-color: #EEEEEE;
    border: 1px solid #9A9A9A;
    border-bottom: 0;
    border-right: 0;
    outline: 0;
    box-shadow: none;
    margin: 30px 0 5px 0;
    padding: 20px 15px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: lighter; }
  .form .container-especial form textarea {
    background-color: #EEEEEE;
    border: 0;
    border-top: 1px solid #9A9A9A;
    outline: 0;
    padding: 15px;
    width: 100%;
    height: auto;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: lighter;
    margin: 0 0 25px 0; }
  .form .container-especial form button {
    background-color: #080808;
    color: white;
    padding: 10px 80px;
    margin: 0 auto 50px auto;
    display: inherit; }
  .form .container-especial form h3 {
    padding: 30px 0 0 0; }
  .form .container-especial form ul {
    padding: 0 0 30px 0; }
    .form .container-especial form ul li {
      list-style: none;
      line-height: 28px; }
      .form .container-especial form ul li span.text-posicion {
        float: right; }

@media (max-width: 769px) {
  .form {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: normal; }
    .form .container-especial {
      padding: 0 12%; }
      .form .container-especial ul {
        font-family: PT Sans;
        font-size: 16px;
        font-weight: lighter; } }
@media (max-width: 375px) and (max-width: 420px) {
  .form h1 {
    font-family: PT Sans;
    font-size: 45px;
    font-weight: normal; }
  .form p {
    line-height: 23px;
    padding: 25px 1px;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: normal; }
  .form .container-especial {
    padding: 0 3%; }
  .form .opcional {
    padding: 0; }
  .form .text-posicion {
    float: none !important; } }
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

footer .desktop {
  padding: 2%;
  background: #E3E3E3; }
  footer .desktop span {
    display: block;
    cursor: pointer; }
    footer .desktop span:hover {
      color: #AEA3A3; }
  footer .desktop .enlaces-footer {
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #F6F4F4; }
    footer .desktop .enlaces-footer img {
      margin-top: 100px; }
  footer .desktop li {
    display: inline-block;
    border-right: 2px solid #AEA3A3;
    padding-right: 0.5%; }
  footer .desktop li:last-child {
    border-right: none; }
  footer .desktop .enlaces-border-row {
    border-left: 1px solid #F6F4F4;
    padding-left: 4%; }
footer .tablet {
  display: none; }
@media (max-width: 980px) {
  footer .desktop {
    display: none; }
  footer .tablet {
    display: block;
    background: #000000;
    color: #FFFFFF;
    padding-bottom: 1%;
    margin-bottom: 0%; } }

/*# sourceMappingURL=main.css.map */
