@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
header {
  background-color: #F4F5F7; }
  header div.publicidad1 {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #E4E7EA; }
  header a {
    display: inline-block;
    width: 100%; }
  header img {
    width: 100%;
    margin: 0 0 12px 0; }
  header .menuBanner div div div a {
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #7D7D7D; }
  header .menuBanner div .redes {
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    display: inline !important;
    margin-left: 7%; }
  header .menuBanner div .fa-facebook {
    color: #2A65A3; }
  header .menuBanner div .fa-twitter {
    color: #4BB7D9; }
  header .menuBanner div .fa-google-plus {
    color: #CA4B5B; }
  header .menuBanner div .fa-envelope {
    color: #FCC82C; }
  header .menuBanner div .fa-rss {
    color: #FF8000; }
  header .menuBanner div div button {
    background-color: #DD4A4A;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px; }
  header .menuBanner div div input {
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    background-color: transparent;
    display: inline !important;
    border: 1px solid transparent;
    width: 60px; }

section.logo {
  margin: 30px 0 10px 0; }
  section.logo div .img-logo {
    margin: 20px 0 20px 0px; }
  section.logo div .cuadro-borde {
    padding: 40px 0 10px 15px;
    border: 1px solid gray;
    font-family: arial;
    font-size: 11px;
    font-weight: bold; }
  section.logo div .tema-dia {
    border-bottom: 3px solid #941010; }
    section.logo div .tema-dia .domingo {
      position: absolute;
      top: -15%;
      background-color: #941010;
      padding: 10px 10px 0 10px;
      color: #ffffff;
      right: 38%; }
  section.logo div .bloque_editorial_text {
    width: 80%;
    position: relative;
    padding: 20px 0 10px 10px;
    border-radius: 5px;
    background-color: #2C3238;
    position: absolute; }
  section.logo div .nota-autor {
    width: 80%;
    position: absolute;
    right: 4%;
    padding: 16px 0 10px 0px;
    background-color: #ffffff;
    border-radius: 5px; }
    section.logo div .nota-autor .img-nota-autor {
      position: absolute;
      right: -2%;
      top: -1%; }
      section.logo div .nota-autor .img-nota-autor img {
        width: 115%; }

.navbar-temacentral .boton {
  background-color: #BA1414;
  color: white;
  border: none;
  margin: 2% 0%;
  padding: 1%;
  font-family: arial;
  font-size: 97%;
  font-weight: bold; }
  .navbar-temacentral .boton:hover {
    background-color: blue; }
.navbar-temacentral .boton-radio-left {
  border: 2px solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0; }
.navbar-temacentral .boton-radio-right {
  border: 2px solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 0; }

.navbar-temasdeldia .titulo {
  background-color: #080108;
  color: white;
  font-size: 85%;
  text-align: center;
  padding: 1% 2% 1% 2%;
  display: inline-block; }
.navbar-temasdeldia .boton-radio-left {
  border: 2px solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0; }
.navbar-temasdeldia .subtitulos {
  background-color: #E4E7EA;
  padding: 1% 2% 1% 4%;
  display: inline; }
.navbar-temasdeldia .boton-radio-right {
  border: 2px solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 0; }
.navbar-temasdeldia a {
  padding: 0% 1% 1% 1%;
  display: inline-table;
  color: gray; }

.form h1 {
  font-family: arial;
  font-size: 50px;
  font-weight: lighter;
  text-align: center; }
.form p {
  padding: 20px 0;
  text-align: left;
  font-family: PT Sans;
  font-size: 17px;
  font-weight: normal; }
.form .container-especial {
  padding: 0 25%;
  margin: 0 auto; }
  .form .container-especial form div input, .form .container-especial form div input:focus {
    background-color: #EEEEEE;
    border: 1px solid #9A9A9A;
    border-bottom: 0;
    border-right: 0;
    outline: 0;
    box-shadow: none;
    margin: 30px 0 5px 0;
    padding: 20px 15px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: lighter; }
  .form .container-especial form div .opcional {
    padding: 0 0 0 0; }
  .form .container-especial form textarea {
    background-color: #EEEEEE;
    border: 0;
    border-top: 1px solid #9A9A9A;
    outline: 0;
    padding: 15px;
    width: 100%;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: lighter;
    margin: 0 0 25px 0; }
  .form .container-especial form button {
    background-color: #080808;
    color: white;
    padding: 10px 80px;
    margin: 0 auto 50px auto;
    display: inherit; }
  .form .container-especial form h3 {
    padding: 30px 0 0 0; }
  .form .container-especial form ul {
    padding: 0 0 30px 0; }
    .form .container-especial form ul li {
      list-style: none;
      line-height: 28px; }
      .form .container-especial form ul li span.text-posicion {
        float: right; }

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

footer .desktop {
  padding: 2%;
  background: #E3E3E3; }
  footer .desktop span {
    display: block !important;
    cursor: pointer; }
    footer .desktop span:hover {
      color: #AEA3A3; }
  footer .desktop .enlaces-footer {
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #F6F4F4; }
    footer .desktop .enlaces-footer img {
      margin-top: 100px; }
  footer .desktop li {
    display: inline-block;
    border-right: 2px solid #AEA3A3;
    padding-right: 0.5%; }
  footer .desktop li:last-child {
    border-right: none; }
  footer .desktop .enlaces-border-row {
    border-left: 1px solid #F6F4F4;
    padding-left: 4%; }
footer .tablet {
  display: none; }

@media (max-width: 769px) {
  .nota-autor {
    width: 89.5% !important; }

  .navbar-temasdeldia {
    margin-top: 100px;
    margin-left: 1.8em; }

  .form {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: normal; }
    .form .container-especial {
      padding: 0 12%; }
      .form .container-especial ul {
        font-family: PT Sans;
        font-size: 16px;
        font-weight: lighter; }

  .desktop {
    display: none; }

  .tablet {
    display: block !important;
    background: #000000;
    color: #FFFFFF;
    padding: 3%; }
    .tablet h2 {
      font-family: arial;
      font-size: 15px;
      font-weight: normal; }
    .tablet h4 {
      font-family: arial;
      font-size: 9px;
      font-weight: normal; } }
@media (max-width: 375px) {
  header .menuBanner div .redes {
    font-family: arial;
    font-size: 10px;
    font-weight: normal; }
  header .menuBanner div div div a {
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    color: #7D7D7D; }
  header .col-md-4:nth-child(2), header .col-md-4:nth-child(3) {
    margin-top: 10px; }

  section .cuadro-borde.nota-autor {
    width: 83% !important; }

  .form h1 {
    font-family: PT Sans;
    font-size: 45px;
    font-weight: normal; }
  .form p {
    line-height: 23px;
    padding: 25px 1px;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: normal; }
  .form .container-especial {
    padding: 0 3%; }
  .form .opcional {
    padding: 0 0 0 0; }
  .form .text-posicion {
    float: none !important; }

  .navbar-temasdeldia {
    text-align: center;
    margin-left: 0; }
    .navbar-temasdeldia .subtitulos {
      padding: 1% 4% 1% 3%; }
      .navbar-temasdeldia .subtitulos a {
        padding: 0%; }
      .navbar-temasdeldia .subtitulos .ocultar, .navbar-temasdeldia .subtitulos span {
        display: none; } }

/*# sourceMappingURL=main.css.map */
